//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
//-   br
//-   a(href='http://localhost:3000/ember') ember
//-   br
//-   a(href='http://localhost:3000/angular') angular
//-   br
//-   a(href='http://localhost:3000/backbone') backbone


extends layout

block body
  h1 Angular Socket.io IM Demo App
  div(ng-controller='AppCtrl')
    .col
      h3 Messages
      .overflowable
        p(ng-repeat='message in messages',
          ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}

    .col
      h3 Users
      .overflowable
        p(ng-repeat='user in users') {{user}}

    .clr
      form(ng-submit='sendMessage()')
        | Message: 
        input(size='60', ng-model='message')
        input(type='submit', value='Send')

    .clr
      h3 Change your name
      p Your current user name is {{name}}
      form(ng-submit='changeName()')
        input(ng-model='newName')
        input(type='submit', value='Change Name')

  script(src='bower_components/angular/angular.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.6/socket.io.min.js')
  //- script(src='/socket.io/socket.io.js')
  script(src='socketio3/js/app.js')
  script(src='socketio3/js/services.js')
  script(src='socketio3/js/controllers.js')
  script(src='socketio3/js/filters.js')
  script(src='socketio3/js/directives.js')
