//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content


doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io IM Demo App
    //- link(rel='stylesheet', href='/socketio3/css/style.css')
    link(rel='stylesheet', href='/socketio5/css/style.css')
  body
    block body
